/* RESET.CSS ------------------------------------------------ */

/* Remove all browser default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list bullets */
ul, li {
  list-style: none;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove underline from links */
a {
  text-decoration: none;
  color: inherit;
}
